<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://gavin-twin-func.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/2e6e4b4d-065e-4e94-9aa9-edca16b18d7a/resourcegroups/gavin-twin-test/providers/Microsoft.Web/sites/gavin-twin-func</ResourceId>
    <UserName>$gavin-twin-func</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://gavin-twin-func.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>