
DeviceSimulator/.vs
DeviceSimulator/Common/bin/
DeviceSimulator/Common/obj/
DeviceSimulator/DeviceSimulator/bin/
DeviceSimulator/DeviceSimulator/obj/
DeviceSimulator/Thermostat-UI/bin/
DeviceSimulator/Thermostat-UI/obj/
/AdtBuildingPrototype/.vs/BuildingPrototype
/AdtBuildingPrototype/BuildingClientApp/bin/Debug/netcoreapp3.1
/AdtBuildingPrototype/BuildingClientApp/obj
/AdtBuildingPrototype/BuildingFunctionsApp/bin/Debug/netcoreapp3.1
/AdtBuildingPrototype/BuildingFunctionsApp/obj/Debug/netcoreapp3.1
/AdtBuildingPrototype/BuildingFunctionsApp/bin/Release/netcoreapp3.1
/AdtBuildingPrototype/BuildingFunctionsApp/obj/Release/netcoreapp3.1
/AdtBuildingPrototype/BuildingFunctionsApp/local.settings.json
/AdtBuildingPrototype/BuildingClientApp/appsettings.json
/AdtBuildingPrototype/Common/obj
/AdtBuildingPrototype/Common/bin/Debug/net7.0
/AdtBuildingPrototype/DeviceSimulator/bin/Debug/net7.0
/AdtBuildingPrototype/DeviceSimulator/obj
/AdtBuildingPrototype/Thermostat-UI/bin/Debug/net7.0-windows
/AdtBuildingPrototype/Thermostat-UI/obj
AdtBuildingPrototype/.vs/ProjectEvaluation/buildingprototype.projects.v6.1
AdtBuildingPrototype/.vs/ProjectEvaluation/buildingprototype.metadata.v6.1
