
DeviceSimulator/.vs
DeviceSimulator/Common/bin/
DeviceSimulator/Common/obj/
DeviceSimulator/DeviceSimulator/bin/
DeviceSimulator/DeviceSimulator/obj/
DeviceSimulator/Thermostat-UI/bin/
DeviceSimulator/Thermostat-UI/obj/